*{
    margin: 0;
    padding: 0;
}
body{position: relative;}
nav{ background-color: aquamarine;
    width:100%;
    height: 50px;
    font-size: 25px;
    margin-bottom: 100px;
    text-align: center;

}
.course{
    margin-left: 10%;
}
.course{
    width: 350px;
    height: 200px;
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
}
a{color:black; text-decoration: none;}
nav a{margin-left: 25%;}
::-webkit-scrollbar{width: 5px; margin:1px;}
::-webkit-scrollbar-track{background-color: #ddd;}
::-webkit-scrollbar-thumb{
    background-color: rgb(95, 95, 113);
}